@charset "UTF-8";

@font-face {
    font-family: 'Geist';
    src: url('GeistVF.ttf') format('truetype')
}

:root {
    /*
    --bg-color: #d6f4ff;
    --bnt-disable-color: #46abe5b0;
    --bnt-color: #046ee5;

    --bg-color-not: #d6f4ff;
    --bnt-disable-color-not: #46abe5b0;
    --bnt-color-not: #046ee5;
    --bg-color: #ffb49c;
    --bnt-disable-color: #f78c6f;
    --bnt-color: #F4623A;
    */

    --commitForm-on-text-color: #0a0a0a;
    --bg-color-not: #d6f4ff;
    --bnt-disable-color-not: #46abe5b0;
    --bnt-color-not: #046ee5;
    --bg-color: white;
    --user-input-color: whitesmoke;
    --sub-bg-color: #232323c0;
    --bnt-disable-color: #a1a1a1;
    --bnt-color: #a1a1a1;
    --input-bg-color: #373737;
    --default-text-color: #adadad;
    --error-text-color: #DD11DD;

    --commitForm-text-color: #0a0a0a;

    --commit-not-disable-bg-color: #ededed;

    --disable-text-color: #0a0a0a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: var(--bg-color);
}

body {
    width: 100vw;
    /* height: 100vh; */
    /* background-color: #f0f2f5; */
    /* background-color: #BECEDD; */
    /* background-color: rgb(190, 206, 221); */
    /* background-color: #96C9DC; */
    /* background-color: var(--bg-color); */
    font-family: 'Geist';
}

#div-login-title {
    text-align: center;
}

#div-signup-title {
    text-align: center;
    width: 600px;
}

#text-main-login {
    color: #8D99AE;
    font-size: 2.5em;
    font-family: 'Geist', 'sans-serif';
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.119);
}

#text-main-signup {
    color: #8D99AE;
    font-size: 2.5em;
    font-family: 'Geist', 'sans-serif';
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.119);
}

.sub-title-text {
    color: #8D99AE;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.067);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    /*#01BB27 #01bb2661*/
    background-image: linear-gradient(to top, #B4E1FF, #b4e1ff78 60%);
}

.subcontainer-form {
    display: block;
    background-color: var(--sub-bg-color);
    height: 600px;
    width: 900px;
    position: relative;
    border-radius: 15px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.116);
    /*max-width: 350px;*/
    /*border-radius: 5px;
    box-shadow: 0 1px 2px #0003;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px;*/
}

.container-form-login {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);

}

.container-form-signup {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);

}

#container-image-login {
    width: 550px;
    height: 600px;
    position: relative;
    float: right;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#container-image-signup {
    width: 550px;
    height: 600px;
    position: relative;
    float: right;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#imagem-login {
    width: 550px;
    height: 600px;
    background-size: cover;
    display: block;
    float: right;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#imagem-signup {
    width: 450px;
    height: 600px;
    background-size: cover;
    display: block;
    float: right;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.flow-input {
    display: inline;
    /*outline: none;*/
    padding: 16px 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--input-bg-color);
    border: none;
    color: var(--user-input-color);
    margin-bottom: 20px;
}

.flow-input:focus {
    outline: var(--bnt-color) solid 2px;
}

.title-header {
    font-size: 18px;
    font-weight: 600;
    color: var(--default-text-color);
}

a {
    text-decoration: none;
    color: var(--default-text-color);
}

.err-msg {
    font-size: var(--default-text-color);
    color: var(--error-text-color);
}

.text-registrar {
    font-size: 16px;
    color: var(--default-text-color);
}

.link-registrar {
    cursor: pointer;
}

.commitForm {
    padding: 16px 29px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    background: var(--commit-not-disable-bg-color);
    color: var(--commitForm-text-color);
    font-weight: 600;
    font-size: 16px;
    max-width: 350px;
    transition: 0.3s;
}

.disabled {
    background: var(--bnt-disable-color);
    padding: 16px 29px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    color: var(--disable-text-color);
    font-weight: 600;
    font-size: 16px;
    max-width: 350px;
}

.commitForm:hover {
    transform: translateY(-2px);
    border-color: rgba(0, 0, 0, 0.15);
    border: initial;
    box-shadow: rgba(0, 0, 0, 0.8) 0 8px 24px;
    color: var(--commitForm-on-text-color);
}

.commitForm:active {
    border-color: rgba(0, 0, 0, 0.15);
    border: initial;
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 8px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}





/* https://getcssscan.com/css-buttons-examples */