@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 600px) {
    div#div-login-title {
        height: 20vh;
    }

    h2#text-main-login {
        font-size: 2em;
    }

    p.sub-title-text {
        font-size: 0.9em;
    }

    div.subcontainer-form {
        height: 350px;
        width: 300px;
    }

    form.container-form-login {
        width: 280px;
    }

    input.flow-input {
        font-size: 0.9em;
    }

    button.commitForm {
        font-size: 0.9em;
    }

    div#container-image-login {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    div#div-login-title {
        height: 15vh;
    }

    h2#text-main-login {
        font-size: 2em;
    }

    p.sub-title-text {
        font-size: 0.9em;
    }

    div.subcontainer-form {
        height: 350px;
        width: 580px;
    }

    form.container-form-login {
        width: 190px;
    }

    input.flow-input {
        font-size: 0.9em;
    }

    button.commitForm {
        font-size: 0.9em;
    }

    div#container-image-login {
        width: 360px;
        height: 350px;
    }

    img#imagem-login {
        width: 360px;
        height: 350px;
    }
}

@media screen and (min-height: 400px) and (max-height: 500px) {
    div.subcontainer-form {
        height: 300px;
        width: 580px;
    }

    form.container-form-login {
        width: 190px;
    }

    div#container-image-login {
        width: 360px;
        height: 300px;
    }

    img#imagem-login {
        width: 360px;
        height: 300px;
    }
}
